.rodape-BB{
    display: flex;
    padding: 1em 2em;
    background-color: var(--branco);
    justify-content: space-around;
}
.rodape-BB_texto{
    font-size: 16px;
    font-weight: 700;
    color: var(--texto);
}
.rodape-BB_logo{
    width: 25px;
}
.rodapeBB_lista{
    padding: 0 2em 0 0.5em;
    border-left: 3px solid var(--texto);
    list-style: none;
    display: none;
}
.rodapeBB_link{
    text-decoration: none;
    color: var(--texto);
    text-align: left;
    font-size: 14px;
}
.rodapeBB_link img{
    margin-right: 10px;
}
.rodapeBB_link:hover{
    color: var(--preto);
}
@media screen and (min-width: 700px){
    .rodapeBB_lista{
        display: block;
    }
}