.slides{
    margin-top: 1em;
    padding: 1em 1em;
    border-radius: 40px;
}
.slide{
    display: none;
}
.ativo{
    display:block;
    width:80%;
    border-radius: 16px;
    margin: 0 auto;
    margin-top: 2em;
}
.slides__principal{
    display: inline-block;
}